<%= form_for(:finishings, url: finishing_master_input_finishings_path, method: :post) do |f| %>

<%= f.fields_for :tasks do |task_form| %>
  <%= task_form.text_field :name %>
  <%= task_form.link_to_remove "Remove this task" %>
<% end %>
<p><%= f.link_to_add "Add a task", :tasks %></p>

<% end %> 